
:root {
    --sidebar-width: 300px;
}

body {
    margin: 0px;
    padding: 0px 16px;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.container > div {
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar {
    width: 100%;
    background-color: #bbbbbb;
}

.article {
    width: 100%;
}

.navbar {
    display: none;
}

@media (min-width: 800px) {
    
    .sidebar {
        position: fixed;
        height: 100%;
        width: 30%;
    }

    .article {
        position: relative;
        left: calc(30% + 40px);
        width: calc(70% - 40px);
    }

}

@media (min-width: 1200px) {

    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar {
        width: 360px;
    }

}

@media (min-width: 1400px) {

    .container {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .article {
        left: calc(360px + 40px);
        width: calc(70% - 80px - 300px);
    }

    .navbar {
        display: flex;
        position: fixed;
        right: 0px;
        width: 300px;
    }

}
