<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="article">
                {% block article %}{% endblock %}
            </div>
            <div class="navbar">
                {% block navbar %}{% endblock %}
            </div>
        </div>
    </body>
</html>

