{% extends "base.html" %}

{% block sidebar %}
<div class="about_me">
    <h1>{{ basic.name }}</h1>
    <p>{{ basic.title }}</p>
    <p>{{ basic.about_me_text }}</p>
</div>
<div class="contact">
    <h1>Contact me!</h1>
    <table>
    {% for method, adress in contact.items() %}
        <tr>
            <td>{{ method }}</td>
            <td>{{ adress }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block article %}
<div class="education">
    <h1>Education</h1>
    {% for edu in education %}
    <div id="edu-{{ loop.index }}">
        <header>
            <h2>{{ edu.school }}</h2>
            <p>{{ edu.degree }}, {{ edu.start_date }} - {{ edu.end_date }}</p>
        </header>
        <p>{{ edu.description }}</p>
    </div>
    {% endfor %}
</div>
<div class="jobs">
    <h1>Jobs</h1>
    {% for job in jobs %}
    <div id="job-{{ loop.index }}">
        <header>
            <h2>{{ job.title }}</h2>
            <p>{{ job.employer }}, {{ job.start_date }} - {{ job.end_date }}</p>
        </header>
        <p>{{ job.description }}</p>
    </div>
    {% endfor %}
</div>
<div class="projects">
    <h1>Projects</h1>
    {% for pro in projects %}
    <div id="pro-{{ loop.index }}">
        <header>
            <h2>{{ pro.title }}</h2>
            <p>{{ pro.start_date }} - {{ pro.end_date }}</p>
        </header>
        <p>{{ pro.description }}</p>
    </div>
    {% endfor %}
</div>
<div class="programming">
    <h1>Programming</h1>
    <h2>Languages</h2>
    <ul>
    {% for lang in programming.languages %}
        <li>{{ lang }}</li>
    {% endfor %}
    </ul>
    <h2>Frameworks</h2>
    <ul>
    {% for fw in programming.frameworks %}
        <li>{{ fw }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block navbar %}
<ul>
    <li>Education</li>
    <li>Jobs</li>
    <li>Projects</li>
    <li>Programming</li>
</ul>
{% endblock %}

